.characters-container {
  display: flex;
  flex-wrap: wrap;
}

.characters-header {
  display: flex;
}

.characters-header input {
  width: 200px;
  height: 30px;
  margin-left: 40px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
  border-bottom: 1px solid white;
}

.search button {
  color: red;
  background: black;
}

.characters-header .count-result {
  margin-left: 300px;
  font-size: 18px;
  color: lightcoral;
}
