.form-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.form-marvel {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-marvel > input {
  width: 320px;
  height: 40px;
  background-color: black;
  color: #eee;
  margin-top: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 20px;
  border-bottom: 1px solid #ed1c24;
}

.form-marvel span {
  color: lightcoral;
  margin-top: 4px;
  font-size: 16px;
}

.form-marvel button {
  background-color: #ed1c24;
  height: 45px;
  width: 320px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  margin: 20px 0;
}
