.character-card {
  width: 220px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightcoral;
  border-radius: 5px;
  padding: 6px;
  margin: 6px;
}

.character-card .link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.character-card:hover {
  border: 3px solid lightcoral;
}

.character-img {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.character-card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.character-img:hover img {
  height: 120px;
  width: 120px;
}

.character-card .icon {
  cursor: pointer;
}

.character-card .icon:hover {
  cursor: pointer;
  color: lightcoral;
}

.character-card .icon-isfav {
  color: lightcoral;
}

.character-description {
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 300;
}

.character-description div {
  overflow: hidden;
  text-overflow: ellipsis;
}
