.comic-card {
  width: 280px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 6px;
  margin: 6px;
}

.comic-card:hover {
  border: 2px solid lightseagreen;
}

.comic-card .icon {
  font-size: 22px;
  cursor: pointer;
}
.comic-card .icon:hover {
  cursor: pointer;
  color: lightseagreen;
}

.comic-card .icon-isfav {
  color: lightseagreen;
}

.comic-card .icon-isfav:hover {
  color: white;
}

.comic-img {
  height: 200px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comic-card img {
  height: 200px;
  width: 140px;
  border-radius: 5px;
  object-fit: cover;
}

.comic-card .link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.comic-img:hover img {
  height: calc(200px * 1.2);
  width: calc(140px * 1.2);
}
