header {
  height: 80px;
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: black;
}

header .logo {
  width: 80px;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul li {
  margin-left: 30px;
  list-style-type: none;
}

header ul li:last-child {
  margin-right: 20px;
}

header a:hover {
  font-weight: 700;
}
