/* Other rules */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #111;
  color: white;
}

.container {
  width: 1240px;
  margin: 100px auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

input {
  outline: none;
}

@media (max-width: 1024px) {
  .container {
    width: 80%;
    margin: 40px auto;
  }
}

/* @media (max-width: 720px) {
  .container {
    margin-top: 140px;
  }
} */
