/* Other rules */

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

input {
  outline: none;
}
